<article class="post">
    <div class="title">
        <span><a href="">{{title}}</a></span>
        <span style="">Posted by {{user.username}} on {{format_date created_at}}</span><br>
    </div>
    <div class="content">
        <p>{{post_text}}</p>
    </div>
</article>