<article class="post">
    <div class="content">
        <p>Username: {{posts.[0].user.username}}</p>
        <p>Posts: {{posts.length}}</p>
        <a href="">Edit My Information</a>
    </div>
</article>