<article>
    <a href="./dashboard.handlebars">Back to Dashboard</a>
    <h2>Update My Information</h2>
    <form class="edit-user-form">
        <div>
            <label for="user-name"></label>
            <input name="user-name" type="text" value="" />
        </div>
        <div>
            <label for="email">User Email</label>
            <input name="email" value="" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <div>
            <label for=""></label>
            <input name=""/>
        </div>
        <div>
            <label for=""></label>
            <input name=""/>
        </div>
        <div>
            <input type="hidden" id="user-id" name="user-id" value="" />
        </div>
        <button type="submit">Update</button>
    </form>
</article>

<!-- Scripts -->
<script src=""></script>